<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" integrity="sha512-EuOwMjV7mBnqvAJWV8T/hQ2XGm7aUb/2x/fo8rZf3InCMtE/xtIlbdPpN8N/pvdJXBXys7Dz0vV7WxwOaFV7sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <style>
    main {
      min-height: 100vh;
    }
  </style>
  </head>

  <body>
   
    <main>
      <footer class="bg-light text-center">
        <div class="container py-3">
          <a href="mailto:toufic.ABI-YOUNES@etu.univ-amu.fr">contact</a> 
        </div>
      </footer>
    </main>
</html>

